extends header.pug
append body
    head
        link(href='/css/style.css', rel='stylesheet', type='text/css')
    span
        div(id="order")
            div(id="top_button_container")
                p(id="score") Score: 0
                button(id="displayedButtonsred" onclick="moveUpClicked()") `
            div(id="middle_left_button_container")
                p(id="score") Score: 0
                button(id="displayedButtonsblue" onclick="moveLeftClicked()") Space
            div(id="bottom_button_container")
                p(id="score") Score: 0
                button(id="displayedButtonsgreen"  onclick="moveDownClicked()") M
            div(id="middle_right_button_container")
                p(id="score") Score: 0
                button(id="displayedButtonsyellow" onclick="moveRightClicked()") ]

        div(id="center_everything")
            canvas(
                width=700
                height=500
                border=black
                id="gameCanvas"
            )

    



    script(src="game.js")


