extends header.pug
append body
    head
        link(href='/css/style.css', rel='stylesheet', type='text/css')

    div(id="center_everything")
        canvas(id="gameCanvas" width=900 height=600)

        img(id="redHippo" src="./images/red.png" width="0" height="0")
        img(id="blueHippo" src="./images/blue.png" width="0" height="0")
        img(id="greenHippo" src="./images/green.png" width="0" height="0")
        img(id="yellowHippo" src="./images/yellow.png" width="0" height="0")
        img(id="balls" src="./images/ball.png" width="0" height="0")

        //- p(id="score") Score: 0

        div(id="button_container")
            span(id="top_button_container")
                button(id="displayedButtonsred" onclick="moveUpClicked()") `
            span(id="middle_left_button_container")
                    button(id="displayedButtonsblue" onclick="moveLeftClicked()") Space
            span(id="bottom_button_container")
                button(id="displayedButtonsgreen" onclick="moveDownClicked()") M
            span(id="middle_right_button_container")
                    button(id="displayedButtonsyellow" onclick="moveRightClicked()") ]

    form(id="scoreform", action="/gameover", method="post", class="hidden")
        //- input(type="text", name="score", id="textboxscore")

    script(src="script.js")


