html
    head
        title="Hungry Hippos"
        link(href='/css/style.css', rel='stylesheet', type='text/css')
    body
        div(id="WelcomeDiv")
            h1="Hungry Hippos!"
        nav(class="navBar")
            ul
                li
                    a.foo_link(href='/') Home
                li
                    a.foo_link(href='/gameScreen') Play  
                li
                    a.foo_link(href='/leaderboard') Leaderboard   
                if(loggedIn)   
                    li
                        a.foo_link(href='/logout') Logout
                    li
                        a.foo_link(href='/userInfo') My Account
                else
                    li
                        a.foo_link(href='/login') Login
                    li
                        a.foo_link(href='/register') Register
    block body
