extends header
append body
    form(id="loginForm", action="/login", method="post", class="loginBox")
        div
            label(class="checkoutLabel")="Username "
            input(type="text", name="username")
        br
        div
            label(class="checkoutLabel")="Password "
            input(type="password", name="password")
        br
        div
            button(id="button_content" type='submit', class="submitOrder")="Login"