extends header
append body  
    form(id="registerBox", action="/register", method="Post", class="loginBox")
        div
            label(class="checkoutLabel")="Username "
            input(type="text", name="username")
        br
        div
            label(class="checkoutLabel")="Password "
            input(type="password", name="password")
        br
        input(id="register_btn" value="Register" type='submit', class="submitOrder")