extends header.pug
append body
    div
        label(class="userInfoLabel")="Username : "+user.username
    div
        label(class="userInfoLabel")="Games Played  :"+user.games_played
    div
        label(class="userInfoLabel")="Total Pineapples  :"+user.high_score