.WelcomeDiv{
    display: inline-block;
    background-color: rgb(59, 135, 165);
    border-radius:5px;
}

.gameLink{
    display: inline-block;
}

h1{
    border-radius:5px;
    color: white;
    background: rgb(59, 135, 165);
    text-align: center;
    font-family: Stencil, sans-serif;
    font-size: 45px;
    font-weight: 100;
}

h2{
    margin-left:2%;
    margin-right:2%;
    padding:10px;
    display: flex;
    border-radius:5px;
    color: rgb(69, 40, 233);
    background: rgb(10, 160, 127);
    text-align: center;
    height: 300px;
    width: 250px;
    font-family: Stencil, sans-serif;
    font-weight: 100;
}

.navBar ul{
    margin-left:2%;
    margin-right:2%;
    padding:10px;
    display: flex;
    border-radius:5px;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    color:white;
    background-color: rgb(59, 135, 165);
    list-style-type: none;
}

li a {
    margin:5px;
    color:whitesmoke;
    text-decoration: none;
    background-color: rgb(29, 163, 163);
    padding:10px;
    display: block;
    border:solid 1px rgb(29, 163, 163);
    border-radius:5px;
    font-family: Stencil, sans-serif;
    font-weight: 100;
}

li a:hover {
    transition: 1s;
    background-color: #555;
    color: white;
}

body{
    background-color: rgb(240, 228, 215);
}

#order{
    display: inline-block;
}

#top_button_container{
    width: fit-content;
    padding-bottom: 1px;
}
#middle_left_button_container{

    padding-right: 1px;
}
#middle_right_button_container{

}
#bottom_button_container{
    padding-top: 1px;


}
#displayedButtonsred{
    margin: 10px;
    font-size: 32;
    width: 100px;
    height: 60px;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #ee3333;

}
#displayedButtonsblue{
    margin: 10px;
    font-size: 32;
    width: fit-content;
    height: 60px;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(76, 117, 214);

}
#displayedButtonsgreen{
    margin: 10px;
    font-size: 32;
    width: 100;
    height: 60px;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #219a21;

}


#displayedButtonsyellow{
    margin: 5px;
    font-size: 32;
    width: 100;
    height: 60px;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #e4e44c;
}
#score{
    text-align: center;
}




