.WelcomeDiv{
    display: inline-block;
    background-color: black;
    border-radius:5px;
}

.gameLink{
    display: inline-block;
}


h1{
    border-radius:5px;
    color: #0079FF;
    background: black;
    text-align: center;
}

h2{
    margin-left:2%;
    margin-right:2%;
    padding:10px;
    display: flex;
    border-radius:5px;
    color: #FF0900;
    background: black;
    text-align: center;
    height: 300px;
    width: 250px;
}

.navBar ul{
    margin-left:2%;
    margin-right:2%;
    padding:10px;
    display: flex;
    border-radius:5px;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    color:black;
    background-color: #262626;
    list-style-type: none;
}

li a {
    margin:5px;
    color:black;
    text-decoration: none;
    background-color: #bababa;
    padding:10px;
    display: block;
    border:solid 1px black;
    border-radius:5px;
}
li a:hover {
    transition: 1s;
    background-color: #555;
    color: white;
}

body{
    background-color: darkgray;
}